<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-5level %d{HH:mm:ss} [%-40.40logger] %-3L / %-15.15M : %m%n
            </pattern>
        </encoder>
    </appender>

	<appender name="FILE-ARSCTRL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/BoardPT.log</file>

		<encoder>
			<pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} [%-40.40logger] %-3L / %-15.15M : %m%n</pattern>
<!-- 			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %thread [%logger{36}] %-3L / %M : %m%n</pattern> -->
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/BoardPT.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="INFO">
    	<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-ARSCTRL" />
	</root>

</configuration>