<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">


<select id="maxNumBoard" resultType="int">
	SELECT MAX(bord_numb) FROM potl_bord 
</select>

<insert id="insertBoard">
	INSERT INTO potl_bord
	(bord_numb, bord_catg, bord_titl, bord_cont, user_id, bord_date, bord_hitc, bord_refr, bord_levl, bord_seqn, bord_wrip, file_cont, comm_cont)  
	VALUES (IFNULL((SELECT MAX(bord_numb) FROM potl_bord)+1,1),
		#{bord_catg},#{bord_titl},#{bord_cont},#{user_id},CURRENT_TIMESTAMP,0,0,0,0,#{bord_wrip},0,0)
</insert>

<!-- replyInsert 생략됨 -->

<select id="getBoards" resultType="board"><!-- getBoardsByCategory와 통합 -->
	SELECT * FROM potl_bord WHERE 1 = 1
	<if test="search != null and search != ''">
		AND bord_titl LIKE CONCAT('%', #{search}, '%')
		OR bord_cont LIKE CONCAT('%', #{search}, '%') 
	</if>
	<if test="category != null and category != ''">
		AND bord_catg = #{category}
	</if>
	ORDER BY bord_refr DESC, bord_levl ASC, bord_seqn ASC 
	LIMIT #{pageSize} OFFSET #{startRow} 
</select>

<select id="getBoardsMain" resultType="board">
	SELECT * FROM potl_bord WHERE bord_levl = 0
	ORDER BY bord_refr DESC
	LIMIT #{pageSize} OFFSET #{startRow}
</select>

<select id="getBoardsOrderByHit" resultType="board">
	SELECT * FROM potl_bord ORDER BY bord_hitc DESC
	LIMIT #{pageSizeHit}
</select>

<select id="getBoardCount" resultType="int"><!-- getCategoryCount와 통합 -->
	SELECT COUNT(bord_numb) FROM potl_bord WHERE 1 = 1
	<if test="search != null and search != ''">
		AND bord_titl LIKE CONCAT('%', #{search}, '%')
		OR bord_cont LIKE CONCAT('%', #{search}, '%') 
	</if>
	<if test="category != null and category != ''">
		AND bord_catg = #{category}
	</if>
</select>

<!-- Board Detail -->
<select id="getBoardByNum" resultType="board">
	SELECT * FROM potl_bord WHERE bord_numb = #{bord_numb} 
</select>

<update id="updateHit">
	UPDATE potl_bord SET bord_hitc = bord_hitc + 1
	WHERE bord_numb = #{bord_numb} 
</update>
<!-- Board Detail -->

<update id="updateBoard" parameterType="board">
	UPDATE potl_bord
	SET bord_catg = #{bord_catg}, bord_titl = #{bord_titl}, bord_cont = #{bord_cont} 
	WHERE bord_numb = #{bord_numb}
</update>

<!-- DELETE BOARD -->
<delete id="deleteBoard">
	DELETE FROM potl_bord WHERE bord_numb = #{bord_numb}
</delete>

<select id="getCountFileByNum" resultType="int">
	SELECT COUNT(bord_numb) FROM bord_file WHERE bord_numb = #{bord_numb}
</select>

<delete id="deleteFileByNum">
	DELETE FROM bord_file WHERE bord_numb = #{bord_numb}
</delete>

<select id="getCountCommentByNum" resultType="int">
	SELECT COUNT(bord_numb) FROM bord_comm WHERE bord_numb = #{bord_numb}
</select>

<delete id="deleteCommentByNum">
	DELETE FROM bord_comm WHERE bord_numb = #{bord_numb}
</delete>
<!-- DELETE BOARD -->


<!-- Comment -->
<select id="getCommentByBoardNum" resultType="comment">
	SELECT * FROM bord_comm WHERE bord_numb = #{bord_numb}
	ORDER BY comm_numb
</select>

<select id="getNumByCommentId" resultType="int">
	SELECT bord_numb FROM bord_comm WHERE comm_numb = #{comm_numb}
</select>

<insert id="insertComment" parameterType="comment">
	INSERT INTO bord_comm (comm_numb, bord_numb, user_id, comm_cont, comm_date) 
	VALUES (IFNULL((SELECT MAX(comm_numb) FROM bord_comm)+1,1), 
		#{bord_numb}, #{user_id}, #{comm_cont}, CURRENT_TIMESTAMP)
</insert>

<update id="commentCount">
	UPDATE potl_bord 
	SET comm_cont = (SELECT COUNT(bord_numb) FROM bord_comm WHERE bord_numb = #{bord_numb}) 
	WHERE bord_numb = #{bord_numb}
</update>

<delete id="deleteComment">
	DELETE FROM bord_comm WHERE comm_numb = #{comm_numb} 
</delete>

<!-- Comment -->



<!-- File -->
<select id="selectFileByBoardNum" resultType="boardFile">
	SELECT * FROM bord_file WHERE bord_numb = #{bord_numb} 
	ORDER BY file_numb
</select>

<select id="selectFileByFileId" resultType="boardFile">
	SELECT * FROM bord_file WHERE file_numb = #{file_numb}
</select>

<!-- File -->



</mapper>