<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.NoticeMapper">


<select id="maxNumNotice" resultType="int">
	SELECT MAX(noti_numb) FROM potl_noti  
</select>

<insert id="insertNotice" parameterType="notice">
	INSERT INTO potl_noti (noti_numb, noti_titl, noti_cont, noti_date) 
	VALUES (#{noti_numb}, #{noti_titl}, #{noti_cont}, CURRENT_TIMESTAMP)
</insert>

<select id="getNotices" resultType="notice">
	SELECT * FROM potl_noti ORDER BY noti_numb DESC 
	LIMIT #{pageSize} OFFSET #{startRow}
</select>

<select id="getNoticeCount" resultType="int">
	SELECT COUNT(noti_numb) FROM potl_noti 
</select>

<select id="getNoticeByNum" resultType="notice">
	SELECT * FROM potl_noti WHERE noti_numb = #{noti_numb} 
</select>


<update id="updateNotice" parameterType="notice">
	UPDATE potl_noti SET noti_titl = #{noti_titl}, noti_cont = #{noti_cont} 
	WHERE noti_numb = #{noti_numb}
</update>

<delete id="deleteNotice">
	DELETE FROM potl_noti WHERE noti_numb = #{noti_numb} 
</delete>

<select id="countNoticeByNum" resultType="int">
	SELECT COUNT(noti_numb) FROM potl_noti WHERE noti_numb = #{noti_numb} 
</select>

<!-- replyInsert 생략됨 -->



</mapper>