<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.SiteMapper">


<select id="getSiteList" resultType="siteDto">
	SELECT * FROM site WHERE id = #{id} ORDER BY siteNum ASC 
</select>

<select id="getMaxSite" resultType="int">
	SELECT MAX(siteNum) FROM site
</select>

<insert id="insertSite">
	INSERT INTO site (siteNum, siteName, url, id) 
	VALUES (#{siteNum}, #{siteName}, #{url}, #{id})
</insert>

<delete id="deleteSite">
	DELETE FROM site WHERE siteNum = #{siteNum}
</delete>


</mapper>