<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.SiteMapper">


<select id="getSiteList" resultType="site">
	SELECT * FROM potl_site WHERE user_id = #{user_id} ORDER BY site_numb ASC 
</select>

<select id="getMaxSite" resultType="int">
	SELECT MAX(site_numb) FROM potl_site
</select>

<insert id="insertSite">
	INSERT INTO potl_site (site_numb, site_name, site_url, user_id) 
	VALUES (#{site_numb}, #{site_name}, #{site_url}, #{user_id})
</insert>

<delete id="deleteSite">
	DELETE FROM potl_site WHERE site_numb = #{site_numb}
</delete>


</mapper>