<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.UserMapper"><!-- MemberDao.java 참조 -->

<insert id="insertUser">
	INSERT INTO users (id, password, name, email, address, reg_date) 
	VALUES (#{id}, #{password}, #{name}, #{email}, #{address}, CURRENT_TIMESTAMP)
</insert>

<select id="countUserById" resultType="int">
	SELECT COUNT(*) FROM users WHERE id = #{id}
</select>

<select id="getPasswordById" resultType="string">
	SELECT password FROM users WHERE id = #{id}
</select>

<select id="getAllUsers" resultType="userDto">
	SELECT * FROM users 
	<if test="id != null and id != ''">
		WHERE id LIKE #{search}
	</if>
	ORDER BY id OFFSET #{startRow} LIMIT #{pageSize}
</select>

<!-- getMemberCount -->

<select id="getUserById" resultType="userDto">
	SELECT * FROM member WHERE id = #{id}
</select>

<update id="updateUser"><!-- modifyMemeber -->
	UPDATE users 
	SET password = #{password}, name = #{name}, email = #{email}, address = #{address}
	WHERE id = #{id} 
</update>

<delete id="deleteUser">
	DELETE FROM users WHERE id = #{id}
</delete>

<!-- batchDeleteMember -->

<!-- Chart 관련 SQL문 진행 안됨 -->



<insert id="insertLoginReg">
	INSERT INTO login_reg (id, ip, reg_date)
	VALUES (#{id}, #{ip}, CURRENT_TIMESTAMP)
</insert>



</mapper>